<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihsinformatics.ponsetti"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.MainMenu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.Login"
            android:label="@string/title_activity_new_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.Splash"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.ViewPatients"
            android:label="@string/title_activity_view_patients"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.CreatePatient"
            android:label="@string/title_activity_add_patient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.AddPatinet"
            android:label="@string/title_activity_add_patinet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.CreateEvaluator"
            android:label="@string/title_activity_create_evaluator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.ViewEvaluators"
            android:label="@string/title_activity_view_evaluators"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.AddVisit"
            android:label="@string/title_activity_add_visit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.screens.PatientPermissionsDialog"
            android:label="@string/title_activity_patient_permissions_dialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.utils.DateSelector"
            android:label="@string/title_activity_date_selector"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.export.ExportActivity"
            android:label="@string/title_activity_export"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.ViewVisitsActivity"
            android:label="@string/title_activity_view_visits"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ihsinformatics.ponsetti.ImageCapturer"
            android:label="@string/title_activity_image_capturer"
            
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>